*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: weight(regular);
    font-size: 16px;
    line-height: 18px;
}
body.theme-dark{
    @include theme-colors($dark-theme: true)
}

h1{font-size: $title-size}
h2{font-size: $heading-size; font-weight: weight(medium)}
h3{font-size: $subheading-size; font-weight: weight(medium)}

a{ text-decoration: none; }
p{ margin-bottom: 0; }

ul, li, ol{
    margin: 0;
    padding: 0;
}

.btn{
    border-radius: $border-radius;
}
.btn:focus{
    box-shadow: none;
}

.btn-outline-yellow{
    border: 1px solid $yellow;
    padding: 15px 38px;
    font-weight: weight(medium);
    &:hover{
        background-color: $yellow;
        color: $dark-blue !important;
    }
}

.btn-form{
    font-weight: weight(regular);
    border-radius: $border-radius;
    border: none;
    padding: 15px 22px;
}

.btn-form-dark{
    @extend .btn-form;
    background-color: $dark-blue;
    color: #fff;
    &:hover{
        color: #fff;
    }
}

.btn-form-light{
    @extend .btn-form;
    background-color: $blue;
    color: $dark-blue;
}

.border-bottom{
    border-bottom: 1px solid $blue !important;
}

.pt-50{
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
.py-50{
    padding-top: 50px;
    padding-bottom: 50px;
}

.g-custom{
    --bs-gutter-x: 6.5rem;
    --bs-gutter-y: 3.5rem;
}

.flex-center{
    @include flexCenter;
}

.flex-between-center{
    @include flexItems(space-between, center);
}

.flex-between-start{
    @include flexItems(space-between, flex-start);
}

@each $name, $color in $colors {
    .color-#{$name}{
        color: $color;
    }
    .bg-#{$name}{
        background-color: $color;
    }
}

@each $name, $number in $font-weights {
    .font-#{$number}{
        font-weight: weight($name);
    }
}