*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: weight(regular);
    font-size: 16px;
    line-height: 18px;
}
body.theme-dark{
    @include theme-colors($dark-theme: true)
}

h1{font-size: $title-size}
h2{font-size: $heading-size; font-weight: weight(medium)}
h3{font-size: $subheading-size; font-weight: weight(medium)}

a{ text-decoration: none; }
p{ margin-bottom: 0; }

ul, li, ol{
    margin: 0;
    padding: 0;
}

.btn:focus{
    box-shadow: none;
}

.flex-center{
    @include flexCenter;
}

.flex-between-center{
    @include flexItems(space-between, center);
}

@each $name, $color in $colors {
    .color-#{$name}{
        color: $color;
    }
    .bg-#{$name}{
        background-color: $color;
    }
}

@each $name, $number in $font-weights {
    .font-#{$number}{
        font-weight: weight($name);
    }
}