@import 'config';
@import 'reset';

header{
    height: 145px;
    padding: 60px 0 30px;
    // border:1px solid #fff;
    .menu{
        .breadcrumb{
            margin-bottom: 0;
            align-items: center;
            &-item{
                padding-left: 1rem;
                &.active{
                    padding: 7px 17px;
                    border-radius: $border-radius;
                    background-color: $blue;
                    a{
                        color: $dark-blue;
                    }
                }
                &::before{
                    color: $blue;
                    padding-right: 1rem;
                }
                a{
                    color: $blue;
                }
            }
        }
    }
    .work-with-us{
        border: 2px solid $yellow;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        padding: 20px 58px 20px 0;
        border-left-style: none;
        position: relative;
        .btn-cta{
            background-color: $yellow;
            color: $dark-blue;
            padding: 20px 35px;
            border-radius: $border-radius;
        }
        img{
            position: absolute;
            top: 22px;
            right: 13px;
        }
    }
}

section{
    margin: 75px 0 50px;
    .header-img{
        position: relative;
        .cover-text{
            color: $blue;
            position: absolute;
            bottom: 5rem;
            right: 2rem;
            width: 17rem;
            .btn{
                color: $yellow;
                border: 1px solid $blue;
            }
        }
    }
    .dark-text{
        h1, h2{
            color: $blue;
            font-weight: 400;
            font-size: $title-size;
        }
    }
    .base-products{
        margin-top: 25px;
        &-item{
            border-bottom: 1px solid $blue;
            padding-top: 50px;
            padding-bottom: 50px;
            &__img{
                position: relative;
                .cover-text{
                    position: absolute;
                    top: 60px;
                    left: 55px;
                    width: 60%;
                    h4{
                        font-size: 26px;
                        color: #fff;
                        margin-bottom: 20px;
                    }
                    ul{
                        color: $yellow;
                        margin-left: 15px;
                        margin-bottom: 15px;
                    }
                    .base-btn{
                        padding: 5px 27px;
                        background-color: $blue;
                        color: $dark-blue;
                        font-size: 14px;
                    }
                }
            }
            &__title{
                padding: 31px 55px 25px;
                background-color: $blue;
                color: $dark-blue;
                text-decoration: underline;
            }
        }
    }
}

.why-choose-us{
    background: linear-gradient(180deg, rgba(164, 220, 255, 0.43) 0%, rgba(164, 220, 255, 0) 35%);
    padding-top: 297px;
    margin-top: -13rem;
    .reasons{
        .row > [class*='col-']{
            display: flex;
        }
        &-item{
            background-color: $yellow;
            padding: 40px 18px 40px 30px;
            min-height: 418px;
        }
        &-block{
            position: relative;
            width: 100%;
            &__numbers{
                border: 2px solid $blue;
                border-radius: 10px;
                padding: 50px 24px 28px 30px;
                height: 140px;
                margin-bottom: 30px;
                &.block-1:after{
                    content: "1";
                    position: absolute;
                    top: -10px;
                    left: 10%;
                    padding-left: 15px;
                    height: 30px;
                    width: 90px;
                    background-color: $dark-blue;
                    font-size: $title-size;
                    color: $yellow;
                }
                &.block-2:after{
                    content: "2";
                    @extend .reasons-block__numbers.block-1:after;
                }
                &.block-3:after{
                    content: "3";
                    @extend .reasons-block__numbers.block-1:after;
                }
                .text{
                    color: #fff;
                }   
            }
            
            a{
                text-decoration: underline;
                &:hover{
                    color: $yellow;
                }
            }
        }
    }
}

.theme-dark{
    .request {
        background-color: transparent;
        h3{
            color: #fff;
        }
        &-inps {
          display: flex;
          input {
            padding-left: 20px;
            border: 1px solid $blue;
            background-color: transparent;
            color: #fff;
            width: 360px;
            height: 50px;
            &:nth-child(1) {
              margin-right: 45px;
            }
            &::placeholder {
              color: #bfbfbf;
            }
          }
        }
        .form-check {
          margin-top: 20px;
          input{
              border-radius: 0;
              border-color: $dark-blue;
              box-shadow: none;
              &:checked{
                  background-color: $dark-blue
              }
          }
          label {
            color: #bfbfbf;
            margin-top: 4px;
          }
        }
        &-btn {
          margin-top: 40px;
        }
    }
}

.request {
    background-color: #fff;
    &-inps {
      display: flex;
      input {
        padding-left: 20px;
        border: 1px solid #000;
        background-color: transparent;
        color: $dark-blue;
        width: 360px;
        height: 50px;
        &:nth-child(1) {
          margin-right: 45px;
        }
        &::placeholder {
          color: #bfbfbf;
        }
      }
    }
    .form-check {
      margin-top: 20px;
      input{
          border-radius: 0;
          border-color: $dark-blue;
          box-shadow: none;
          &:checked{
              background-color: $dark-blue
          }
      }
      label {
        color: #bfbfbf;
        margin-top: 4px;
      }
    }
    &-btn {
      margin-top: 40px;
    }
}


// Company Page
.company {
    .about {
      position: relative;
      .bg-img {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 80px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .arrow {
        background-color: $blue;
        @include flexCenter;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-right: 30px;
        svg {
          width: 20px;
        }
      }
      &-head {
        color: #fff;
      }
      &-text {
        color: #fff;
        font-size: 16px;
        margin-top: 25px;
        div {
          &:nth-child(2) {
            display: flex;
            justify-content: end;
          }
          p {
            width: 85%;
            line-height: 18px;
          }
        }
      }
    }
  
    .distributor {
      background: linear-gradient(
        180deg,
        rgba(164, 220, 255, 0.43) 0%,
        transparent 100%
      );
  
      .head {
        background-color: $blue;
        padding: 35px 80px;
        h1 {
          font-size: $heading-size;
        }
        h3 {
          font-size: $subheading-size;
          margin-bottom: 0;
          &:nth-child(3) {
            margin-right: 135px;
          }
        }
      }
      .list {
        margin-top: 50px;
        ul {
          margin-left: 15px;
          li {
            color: $blue;
            margin-bottom: 10px;
          }
        }
      }
      .apply {
        text-align: right;
        margin-bottom: 40px;
      }
    }
  
    .mission {
      .head {
        color: #fff;
        margin-bottom: 25px;
      }
      &-body {
        position: relative;
        .image {
          width: 650px;
          height: 594px;
          img {
            height: 100%;
            width: 100%;
          }
        }
        .body-text {
          background-color: $yellow;
          opacity: 0.9;
          font-weight: 500;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 662px;
          min-height: 419px;
          text-align: right;
          padding: 35px 80px;
          div {
            margin-bottom: 25px;
            p {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  
    .vision {
      .head {
        color: #fff;
        margin-bottom: 25px;
      }
      &-body {
        position: relative;
        display: flex;
        justify-content: end;
        .image {
          width: 650px;
          height: 594px;
          img {
            height: 100%;
            width: 100%;
          }
        }
        .body-text {
          background-color: $yellow;
          opacity: 0.9;
          font-weight: 500;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 662px;
          min-height: 419px;
          text-align: left;
          padding: 90px 80px;
          div:nth-child(1) {
            margin-bottom: 50px;
          }
        }
      }
    }
  
    .delivery {
      background-color: #fff;
      color: $dark-blue;
      .left-col {
        .image {
          img {
            width: 365px;
            height: 365px;
            border-radius: 50%;
          }
        }
      }
      .right-col {
        color: $dark-blue;
        .countries,
        .liters {
          font-size: $title-size;
        }
        p {
          text-transform: uppercase;
        }
      }
      .factory {
        margin-top: 200px;
        &-btns {
          button {
            width: 152px;
            border-radius: 28px;
            background-color: #fff;
            color: $dark-blue;
            border: 1px solid $dark-blue;
            padding: 5px 0;
            font-size: 15px;
            &:nth-child(2) {
              margin: 0 10px;
            }
            &.active {
              background-color: $dark-blue;
              color: #fff;
              border: 1px solid #fff;
            }
          }
        }
        .img-grid {
          margin-top: 80px;
        }
        &-text {
          p {
            line-height: 20px;
          }
        }
      }
    }
    
  }


footer{
    background-color: $dark-blue;
    padding: 75px 0 50px;
    .foot-area{
        @include borderCorner;
        margin-bottom: 50px;
        .first-sec{
            padding: 150px 0 75px;
            color: #fff;
            .social-icons{
                display: flex;
                margin-top: 22px;
                a{
                    border: 1px solid #fff;
                    border-radius: 50%;
                    height: 55px;
                    width: 55px;    
                    @include flexCenter;
                    margin-right: 30px;
                }
            }
            .catalogue{
                background-color: $yellow;
                padding: 18px 15px;
                margin-right: 3.5rem;
                height: 238px;
                width: 206px;
                color: $dark-blue;
                font-weight: weight(bold);
                z-index: 100;
                &-area{
                    border-top: 2px solid $dark-blue;
                    border-bottom: 2px solid $dark-blue;
                    padding: 19px 0 24px;
                    height: 100%;
                    .download{
                        @include flexItems(space-between, flex-end);
                        width: 100%;
                    }
                }
            }
        }
        .second-sec{
            @include borderCorner;
            @include media-max(992px){
                p{
                    margin-bottom: 20px;
                }
            }
            padding: 42px 0;
            color: $blue;
        }
        .third-sec{
            padding: 75px;
            color: $blue;
            @include media-max(992px){
                padding-left: 0;
                padding-right: 0;
            }
            p{
                font-weight: weight(medium);
                margin-bottom: 30px;
            }
            ul{
                list-style: none;
                a{
                    color: $blue;
                    line-height: 40px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    span{
        font-size: 14px;
        font-weight: weight(medium);
    }
}

@import 'responsive';