@import 'config';
@import 'reset';

header{
    height: 145px;
    padding: 60px 0 30px;
    // border:1px solid #fff;
    .menu{
        .breadcrumb{
            margin-bottom: 0;
            align-items: center;
            &-item{
                padding-left: 1rem;
                &.active{
                    padding: 7px 17px;
                    border-radius: $border-radius;
                    background-color: $blue;
                    a{
                        color: $dark-blue;
                    }
                }
                &::before{
                    color: $blue;
                    padding-right: 1rem;
                }
                a{
                    color: $blue;
                }
            }
        }
    }
    .work-with-us{
        border: 2px solid $yellow;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        padding: 20px 58px 20px 0;
        border-left-style: none;
        position: relative;
        .btn-cta{
            background-color: $yellow;
            color: $dark-blue;
            padding: 20px 35px;
            border-radius: $border-radius;
        }
        img{
            position: absolute;
            top: 22px;
            right: 13px;
        }
    }
}

section{
    margin: 75px 0 50px;
    .header-img{
        position: relative;
        .cover-text{
            color: $blue;
            position: absolute;
            bottom: 5rem;
            right: 2rem;
            width: 17rem;
            .btn{
                color: $yellow;
                border: 1px solid $blue;
            }
        }
    }
    .dark-text{
        h1, h2{
            color: $blue;
            font-weight: 400;
            font-size: $title-size;
        }
    }
    .base-products{
        margin-top: 25px;
        &-item{
            border-bottom: 1px solid $blue;
            padding-top: 50px;
            padding-bottom: 50px;
            &__img{
                position: relative;
                .cover-text{
                    position: absolute;
                    top: 60px;
                    left: 55px;
                    width: 65%;
                    h4{
                        font-size: 26px;
                        color: #fff;
                    }
                    ul{
                        color: $yellow;
                        margin-left: 15px;
                        margin-bottom: 15px;
                        margin-top: 20px;
                    }
                    .base-btn{
                        padding: 5px 27px;
                        background-color: $blue;
                        color: $dark-blue;
                        font-size: 14px;
                    }
                }
            }
            &__title{
                padding: 31px 55px 25px;
                background-color: $blue;
                color: $dark-blue;
                text-decoration: underline;
            }
        }
    }
}

footer{
    background-color: $dark-blue;
    padding: 75px 0 50px;
    .foot-area{
        @include borderCorner;
        margin-bottom: 50px;
        .first-sec{
            padding: 150px 0 75px;
            color: #fff;
            .social-icons{
                display: flex;
                margin-top: 22px;
                a{
                    border: 1px solid #fff;
                    border-radius: 50%;
                    height: 55px;
                    width: 55px;    
                    @include flexCenter;
                    margin-right: 30px;
                }
            }
        }
        .second-sec{
            @include borderCorner;
            @include media-max(992px){
                p{
                    margin-bottom: 20px;
                }
            }
            padding: 42px 0;
            color: $blue;
        }
        .third-sec{
            padding: 75px;
            color: $blue;
            @include media-max(992px){
                padding-left: 0;
                padding-right: 0;
            }
            p{
                font-weight: weight(medium);
                margin-bottom: 30px;
            }
            ul{
                list-style: none;
                a{
                    color: $blue;
                    line-height: 40px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    span{
        font-size: 14px;
        font-weight: weight(medium);
    }
}