@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

body.theme-dark {
  background-color: #123144;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
  font-weight: 500;
}

h3 {
  font-size: 36px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

ul, li, ol {
  margin: 0;
  padding: 0;
}

.btn {
  border-radius: 28px;
}

.btn:focus {
  box-shadow: none;
}

.btn-outline-yellow {
  border: 1px solid #F9D522;
  padding: 15px 38px;
  font-weight: 500;
}

.btn-outline-yellow:hover {
  background-color: #F9D522;
  color: #123144 !important;
}

.btn-form, .btn-form-dark, .btn-form-light {
  font-weight: 400;
  border-radius: 28px;
  border: none;
  padding: 15px 22px;
}

.btn-form-dark {
  background-color: #123144;
  color: #fff;
}

.btn-form-dark:hover {
  color: #fff;
}

.btn-form-light {
  background-color: #A4DCFF;
  color: #123144;
}

.border-bottom {
  border-bottom: 1px solid #A4DCFF !important;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.g-custom {
  --bs-gutter-x: 6.5rem;
  --bs-gutter-y: 6.5rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.color-yellow {
  color: #F9D522;
}

.bg-yellow {
  background-color: #F9D522;
}

.color-blue {
  color: #A4DCFF;
}

.bg-blue {
  background-color: #A4DCFF;
}

.color-darkblue {
  color: #123144;
}

.bg-darkblue {
  background-color: #123144;
}

.color-lightblue {
  color: #00C2FF;
}

.bg-lightblue {
  background-color: #00C2FF;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-700 {
  font-weight: 700;
}

header {
  height: 145px;
  padding: 60px 0 30px;
}

header .menu .breadcrumb {
  margin-bottom: 0;
  align-items: center;
}

header .menu .breadcrumb-item {
  padding-left: 1rem;
}

header .menu .breadcrumb-item.active {
  padding: 7px 17px;
  border-radius: 28px;
  background-color: #A4DCFF;
}

header .menu .breadcrumb-item.active a {
  color: #123144;
}

header .menu .breadcrumb-item::before {
  color: #A4DCFF;
  padding-right: 1rem;
}

header .menu .breadcrumb-item a {
  color: #A4DCFF;
}

header .work-with-us {
  border: 2px solid #F9D522;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  padding: 20px 58px 20px 0;
  border-left-style: none;
  position: relative;
}

header .work-with-us .btn-cta {
  background-color: #F9D522;
  color: #123144;
  padding: 20px 35px;
  border-radius: 28px;
}

header .work-with-us img {
  position: absolute;
  top: 22px;
  right: 13px;
}

section {
  margin: 75px 0 50px;
}

section .header-img {
  position: relative;
}

section .header-img .cover-text {
  color: #A4DCFF;
  position: absolute;
  bottom: 5rem;
  right: 2rem;
  width: 17rem;
}

section .header-img .cover-text .btn {
  color: #F9D522;
  border: 1px solid #A4DCFF;
}

section .dark-text h1, section .dark-text h2 {
  color: #A4DCFF;
  font-weight: 400;
  font-size: 96px;
}

section .base-products {
  margin-top: 25px;
}

section .base-products-item {
  border-bottom: 1px solid #A4DCFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

section .base-products-item__img {
  position: relative;
}

section .base-products-item__img .cover-text {
  position: absolute;
  top: 60px;
  left: 55px;
  width: 60%;
}

section .base-products-item__img .cover-text h4 {
  font-size: 26px;
  color: #fff;
  margin-bottom: 20px;
}

section .base-products-item__img .cover-text ul {
  color: #F9D522;
  margin-left: 15px;
  margin-bottom: 15px;
}

section .base-products-item__img .cover-text .base-btn {
  padding: 5px 27px;
  background-color: #A4DCFF;
  color: #123144;
  font-size: 14px;
}

section .base-products-item__title {
  padding: 31px 55px 25px;
  background-color: #A4DCFF;
  color: #123144;
  text-decoration: underline;
}

.why-choose-us {
  background: linear-gradient(180deg, rgba(164, 220, 255, 0.43) 0%, rgba(164, 220, 255, 0) 35%);
  padding-top: 297px;
  margin-top: -13rem;
}

.why-choose-us .reasons .row > [class*='col-'] {
  display: flex;
}

.why-choose-us .reasons-item {
  background-color: #F9D522;
  padding: 40px 18px 40px 30px;
  min-height: 418px;
}

.why-choose-us .reasons-block {
  position: relative;
  width: 100%;
}

.why-choose-us .reasons-block__numbers {
  border: 2px solid #A4DCFF;
  border-radius: 10px;
  padding: 50px 24px 28px 30px;
  height: 140px;
  margin-bottom: 30px;
}

.why-choose-us .reasons-block__numbers.block-1:after, .why-choose-us .reasons-block__numbers.block-2:after, .why-choose-us .reasons-block__numbers.block-3:after {
  content: "1";
  position: absolute;
  top: -10px;
  left: 10%;
  padding-left: 15px;
  height: 30px;
  width: 90px;
  background-color: #123144;
  font-size: 96px;
  color: #F9D522;
}

.why-choose-us .reasons-block__numbers.block-2:after {
  content: "2";
}

.why-choose-us .reasons-block__numbers.block-3:after {
  content: "3";
}

.why-choose-us .reasons-block__numbers .text {
  color: #fff;
}

.why-choose-us .reasons-block a {
  text-decoration: underline;
}

.why-choose-us .reasons-block a:hover {
  color: #F9D522;
}

.request-inps {
  display: flex;
}

.request-inps input {
  padding-left: 20px;
  border: 1px solid #A4DCFF;
  background-color: transparent;
  color: #fff;
  width: 360px;
  height: 50px;
}

.request-inps input:nth-child(1) {
  margin-right: 45px;
}

.request-inps input::placeholder {
  color: #bfbfbf;
}

.request .form-check {
  margin-top: 20px;
}

.request .form-check input {
  border-radius: 0;
  border-color: #123144;
  box-shadow: none;
}

.request .form-check input:checked {
  background-color: #123144;
}

.request .form-check label {
  color: #bfbfbf;
  margin-top: 4px;
}

.request-btn {
  margin-top: 40px;
}

footer {
  background-color: #123144;
  padding: 75px 0 50px;
}

footer .foot-area {
  border-top: 1px solid #A4DCFF;
  border-bottom: 1px solid #A4DCFF;
  margin-bottom: 50px;
}

footer .foot-area .first-sec {
  padding: 150px 0 75px;
  color: #fff;
}

footer .foot-area .first-sec .social-icons {
  display: flex;
  margin-top: 22px;
}

footer .foot-area .first-sec .social-icons a {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

footer .foot-area .first-sec .catalogue {
  background-color: #F9D522;
  padding: 18px 15px;
  margin-right: 3.5rem;
  height: 238px;
  width: 206px;
  color: #123144;
  font-weight: 700;
  z-index: 100;
}

footer .foot-area .first-sec .catalogue-area {
  border-top: 2px solid #123144;
  border-bottom: 2px solid #123144;
  padding: 19px 0 24px;
  height: 100%;
}

footer .foot-area .first-sec .catalogue-area .download {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

footer .foot-area .second-sec {
  border-top: 1px solid #A4DCFF;
  border-bottom: 1px solid #A4DCFF;
  padding: 42px 0;
  color: #A4DCFF;
}

@media screen and (max-width: 992px) {
  footer .foot-area .second-sec p {
    margin-bottom: 20px;
  }
}

footer .foot-area .third-sec {
  padding: 75px;
  color: #A4DCFF;
}

@media screen and (max-width: 992px) {
  footer .foot-area .third-sec {
    padding-left: 0;
    padding-right: 0;
  }
}

footer .foot-area .third-sec p {
  font-weight: 500;
  margin-bottom: 30px;
}

footer .foot-area .third-sec ul {
  list-style: none;
}

footer .foot-area .third-sec ul a {
  color: #A4DCFF;
  line-height: 40px;
}

footer .foot-area .third-sec ul a:hover {
  text-decoration: underline;
}

footer span {
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px !important;
  }
  h3 {
    font-size: 30px;
  }
  footer .foot-area .first-sec {
    padding-top: 75px;
  }
}

@media screen and (max-width: 992px) {
  .arrow-img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */