@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

body.theme-dark {
  background-color: #123144;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
  font-weight: 500;
}

h3 {
  font-size: 36px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
}

.btn:focus {
  box-shadow: none;
}

section {
  padding: 80px 0;
}

.text-container {
  padding: 0 100px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-yellow {
  color: #F9D522;
}

.bg-yellow {
  background-color: #F9D522;
}

.borderBottom-yellow {
  border-bottom: 1px solid #F9D522;
  width: 250px;
}

.color-blue {
  color: #A4DCFF;
}

.bg-blue {
  background-color: #A4DCFF;
}

.borderBottom-blue {
  border-bottom: 1px solid #A4DCFF;
  width: 250px;
}

.color-darkblue {
  color: #123144;
}

.bg-darkblue {
  background-color: #123144;
}

.borderBottom-darkblue {
  border-bottom: 1px solid #123144;
  width: 250px;
}

.color-lightblue {
  color: #00C2FF;
}

.bg-lightblue {
  background-color: #00C2FF;
}

.borderBottom-lightblue {
  border-bottom: 1px solid #00C2FF;
  width: 250px;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-700 {
  font-weight: 700;
}

.company .about {
  position: relative;
}
.company .about .bg-img {
  position: absolute;
  right: 0;
  bottom: 20px;
  top: 80px;
}
.company .about .bg-img img {
  height: 100%;
  width: 100%;
}
.company .about .arrow {
  background-color: #A4DCFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  min-height: 30px;
  min-width: 30px;
  margin-right: 30px;
}
.company .about .arrow svg {
  width: 20px;
}
.company .about-head {
  color: #fff;
}
.company .about-text {
  color: #fff;
  font-size: 16px;
  margin-top: 25px;
}
.company .about-text div:nth-child(2) {
  display: flex;
  justify-content: end;
}
.company .about-text div p {
  width: 85%;
  line-height: 18px;
}
.company .distributor {
  background: linear-gradient(180deg, rgba(164, 220, 255, 0.43) 0%, transparent 15%);
}
.company .distributor .distrub-body .head {
  background-color: #A4DCFF;
  padding: 35px 80px;
}
.company .distributor .distrub-body .head h1 {
  font-size: 64px;
}
.company .distributor .distrub-body .head h3 {
  font-size: 36px;
  margin-bottom: 0;
}
.company .distributor .distrub-body .head h3:nth-child(3) {
  margin-right: 135px;
}
.company .distributor .distrub-body .list {
  margin-top: 50px;
}
.company .distributor .distrub-body .list ul {
  margin-left: 15px;
}
.company .distributor .distrub-body .list ul li {
  color: #A4DCFF;
  margin-bottom: 10px;
}
.company .distributor .distrub-body .apply {
  text-align: right;
  margin-bottom: 40px;
}
.company .distributor .distrub-body .apply button {
  border: 2px solid #F9D522;
  padding: 18px 30px;
  color: #F9D522;
  background-color: transparent;
  border-radius: 27px;
  transition: all 0.5s;
}
.company .distributor .distrub-body .apply button:hover {
  background-color: #F9D522;
  color: #123144;
}
.company .distributor .mission .head {
  color: #fff;
  margin-bottom: 25px;
}
.company .distributor .mission-body {
  position: relative;
}
.company .distributor .mission-body .image {
  width: 650px;
  height: 594px;
}
.company .distributor .mission-body .image img {
  height: 100%;
  width: 100%;
}
.company .distributor .mission-body .body-text {
  background-color: #F9D522;
  opacity: 0.9;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 662px;
  min-height: 419px;
  text-align: right;
  padding: 35px 80px;
}
.company .distributor .mission-body .body-text div {
  margin-bottom: 25px;
}
.company .distributor .mission-body .body-text div p {
  margin-bottom: 10px;
}
.company .distributor .vision .head {
  color: #fff;
  margin-bottom: 25px;
}
.company .distributor .vision-body {
  position: relative;
  display: flex;
  justify-content: end;
}
.company .distributor .vision-body .image {
  width: 650px;
  height: 594px;
}
.company .distributor .vision-body .image img {
  height: 100%;
  width: 100%;
}
.company .distributor .vision-body .body-text {
  background-color: #F9D522;
  opacity: 0.9;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 662px;
  min-height: 419px;
  text-align: left;
  padding: 90px 80px;
}
.company .distributor .vision-body .body-text div:nth-child(1) {
  margin-bottom: 50px;
}
.company .delivery {
  background-color: #fff;
  color: #123144;
}
.company .delivery .left-col .image img {
  width: 365px;
  height: 365px;
  border-radius: 50%;
}
.company .delivery .right-col {
  color: #123144;
}
.company .delivery .right-col .countries,
.company .delivery .right-col .liters {
  font-size: 96px;
}
.company .delivery .right-col p {
  text-transform: uppercase;
}
.company .delivery .factory {
  margin-top: 200px;
}
.company .delivery .factory-btns button {
  width: 152px;
  border-radius: 28px;
  background-color: #fff;
  color: #123144;
  border: 1px solid #123144;
  padding: 5px 0;
  font-size: 15px;
}
.company .delivery .factory-btns button:nth-child(2) {
  margin: 0 10px;
}
.company .delivery .factory-btns button.active {
  background-color: #123144;
  color: #fff;
  border: 1px solid #fff;
}
.company .delivery .factory .img-grid {
  margin-top: 80px;
}
.company .delivery .factory-text p {
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .about-text div p {
    width: unset !important;
  }
}
@media screen and (max-width: 576px) {
  .distributor .distrub-body .head {
    padding: 15px !important;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .company .distributor .distrub-body .head h1 {
    font-size: 55px !important;
  }
  .company .distributor .distrub-body .head h3 {
    font-size: 30px !important;
  }
  .company .delivery .right-col .text {
    font-size: 30px !important;
  }
  .company .delivery .right-col h3:not(.text) {
    font-size: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .company .distributor .mission-body .body-text {
    transform: translate(0, -50%) !important;
    left: unset !important;
    right: 0 !important;
  }
  .company .distributor .vision-body .body-text {
    transform: translate(0, -50%) !important;
    right: unset !important;
    left: 0 !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .company .distributor .distrub-body .head {
    padding: 35px !important;
  }
  .company .distributor .distrub-body .head h1 {
    font-size: 45px !important;
  }
  .company .distributor .distrub-body .head h3 {
    margin-right: 0 !important;
    font-size: 30px !important;
  }
}
@media screen and (max-width: 992px) {
  .text-container {
    padding: 0;
  }
  .company .about .bg-img {
    display: none;
  }
  .company .distributor .mission-body,
.company .distributor .vision-body {
    display: unset;
  }
  .company .distributor .mission-body .image,
.company .distributor .vision-body .image {
    width: 100%;
    height: 100%;
  }
  .company .distributor .mission-body .body-text,
.company .distributor .vision-body .body-text {
    position: unset;
    transform: unset;
    width: 100%;
    height: auto !important;
    text-align: left;
    padding: 35px 80px;
    min-height: unset;
  }
  .company .delivery .left-col .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .company .delivery .factory {
    margin-top: 100px;
  }
}
@media screen and (max-width: 576px) {
  .request h3 {
    font-size: 25px;
  }
  .company .about-head .borderBottom-yellow {
    width: 100%;
  }
  .company .distributor .distrub-body .head h1 {
    font-size: 25px !important;
  }
  .company .distributor .distrub-body .head h3 {
    font-size: 18px !important;
    margin-right: 0 !important;
  }
  .company .distributor .mission-body .body-text,
.company .distributor .vision-body .body-text {
    padding: 35px 25px;
  }
  .company .delivery .factory .text {
    font-size: 25px !important;
  }
  .company .delivery .factory-btns {
    flex-wrap: wrap;
    justify-content: unset;
  }
  .company .delivery .factory-btns button {
    font-size: 13px;
    width: unset;
    padding: 5px 12px;
    margin-top: 5px;
  }
  .company .delivery .factory-btns button:nth-child(2) {
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  .request-inps input {
    width: 100% !important;
  }
}
@media screen and (max-width: 1200px) {
  .company .delivery .text-container {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  section {
    padding: 50px 0;
  }
  .request-inps {
    flex-direction: column;
  }
  .request-inps input:nth-child(1) {
    margin-right: 0 !important;
  }
  .company .delivery .left-col .image img {
    width: 265px !important;
    height: 265px !important;
  }
  .company .delivery .right-col .text {
    font-size: 25px;
  }
  .company .delivery .right-col h3:not(.text) {
    font-size: 45px !important;
  }
  .company .delivery .factory .text {
    font-size: 30px;
  }
  .company .delivery .factory .img-grid .cols {
    margin-bottom: 30px;
  }
  .company .delivery .factory .img-grid .cols p {
    font-weight: 500;
  }
}
header {
  height: 145px;
  padding: 60px 0 30px;
}
header .menu .breadcrumb {
  margin-bottom: 0;
  align-items: center;
}
header .menu .breadcrumb-item {
  padding-left: 1rem;
}
header .menu .breadcrumb-item.active {
  padding: 7px 17px;
  border-radius: 28px;
  background-color: #A4DCFF;
}
header .menu .breadcrumb-item.active a {
  color: #123144;
}
header .menu .breadcrumb-item::before {
  color: #A4DCFF;
  padding-right: 1rem;
}
header .menu .breadcrumb-item a {
  color: #A4DCFF;
}
header .work-with-us {
  border: 2px solid #F9D522;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  padding: 20px 58px 20px 0;
  border-left-style: none;
  position: relative;
}
header .work-with-us .btn-cta {
  background-color: #F9D522;
  color: #123144;
  padding: 20px 35px;
  border-radius: 28px;
}
header .work-with-us img {
  position: absolute;
  top: 22px;
  right: 13px;
}

.request.dark {
  background-color: #123144;
}
.request.dark .borderBottom-darkblue {
  border-color: #A4DCFF;
}
.request.dark h3 {
  color: #fff;
}
.request.dark input {
  border-color: #A4DCFF !important;
  background-color: #123144 !important;
}
.request.dark .request-btn button {
  background-color: #A4DCFF !important;
  color: #123144 !important;
}
.request.dark .request-btn button:hover {
  background-color: #123144 !important;
  color: #A4DCFF !important;
  border-color: #A4DCFF !important;
}

.request {
  background-color: #fff;
}
.request-inps {
  display: flex;
}
.request-inps input {
  padding-left: 20px;
  border: 1px solid #bfbfbf;
  width: 360px;
  height: 50px;
}
.request-inps input:nth-child(1) {
  margin-right: 45px;
}
.request-inps input::-moz-placeholder {
  color: #bfbfbf;
}
.request-inps input:-ms-input-placeholder {
  color: #bfbfbf;
}
.request-inps input::placeholder {
  color: #bfbfbf;
}
.request .form-check {
  margin-top: 20px;
}
.request .form-check input {
  border-radius: 0;
  border-color: #123144;
  box-shadow: none;
}
.request .form-check input:checked {
  background-color: #123144;
}
.request .form-check label {
  color: #bfbfbf;
  margin-top: 4px;
}
.request-btn {
  margin-top: 40px;
}
.request-btn button {
  background-color: #123144;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #123144;
  padding: 17px 27px;
  border-radius: 25px;
  transition: all 0.5s;
}
.request-btn button:hover {
  background-color: #fff;
  color: #123144;
}

footer {
  background-color: #123144;
  padding: 75px 0 50px;
}
footer .foot-area {
  border-top: 1px solid #A4DCFF;
  border-bottom: 1px solid #A4DCFF;
  margin-bottom: 50px;
}
footer .foot-area .first-sec {
  padding: 150px 0 75px;
  color: #fff;
}
footer .foot-area .first-sec .social-icons {
  display: flex;
  margin-top: 22px;
}
footer .foot-area .first-sec .social-icons a {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
footer .foot-area .second-sec {
  border-top: 1px solid #A4DCFF;
  border-bottom: 1px solid #A4DCFF;
  padding: 42px 0;
  color: #A4DCFF;
}
footer .foot-area .third-sec {
  padding: 75px;
  color: #A4DCFF;
}
@media screen and (max-width: 992px) {
  footer .foot-area .third-sec {
    padding-left: 0;
    padding-right: 0;
  }
}
footer .foot-area .third-sec p {
  font-weight: 500;
  margin-bottom: 30px;
}
footer .foot-area .third-sec ul {
  list-style: none;
}
footer .foot-area .third-sec ul a {
  color: #A4DCFF;
  line-height: 40px;
}
footer .foot-area .third-sec ul a:hover {
  text-decoration: underline;
}
footer span {
  font-size: 14px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */